@using ProjectMVC.ViewModels
@model ProductViewModel 
    
<html>
<head>
    <title>Delete Product</title>
</head>
<body>
    <h2>Delete Product</h2>
    <form method="post" asp-action="Delete" asp-controller="Product">
        <p>Apakah anda yakin akan mendelete product @Model.Name</p>
        <input type="hidden" value="@Model.Id" name="Id" />
        <div>
            <input type="submit" value="Delete" />
        </div>
    </form>
</body>
</html>