@using ProjectMVC.ViewModels
@model IEnumerable<ProductViewModel>


@{
    ViewData["Title"] = "Product List";
}

<h1>Product List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Stock</th>
            <th>Price</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Stock</td>
                <td>@product.Price.ToString("C")</td>
                <td><a href="/Product/Edit/@product.Id">edit</a></td>
                <td><a href="/Product/Delete/@product.Id">delete</a></td>
            </tr>
        }
    </tbody>
</table>
